@{
    ViewData["Title"] = "Contact Us Page";
}

<style>
    main{
        padding: 60px;
    }
</style>

<div class="container">
    <div class="row">
        <br />
        <div class="col-sm text-center">
            <h1 class="div-heading display-4">Свържете се с нас</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <input type="name" class="form-control" id="exampleInputName" placeholder="Вашите имена...">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Вашият имейл адрес...">
                </div>
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" placeholder="Изберете опция...">
                        <option>Запитване</option>
                        <option>Препоръка</option>
                        <option>Оплакване</option>
                        <option>Загубена вещ</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <button type="submit" class="btn btn-warning btn-lg btn-block">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <h5>Address: <small class="text-muted">ул. Св. Иван Рилски 1А, 2300 Перник Център, Перник</small></h5>
            <h5>Email: <small class="text-muted">expresstaxi@gmail.com</small></h5>
            <h5>Contact: <small class="text-muted">+359 88 888 8888 || +359 89 999 9999</small></h5>
            <!--<p><iframe width="600" height="450" frameborder="0" style="border:0"
            src="<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1468.2267483048206!2d23.030382567691834!3d42.60933726774235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac6980efa97%3A0xbc23d4e3b86a247b!2z0J7QsdGJ0LjQvdCwINCf0LXRgNC90LjQug!5e0!3m2!1sbg!2sbg!4v1650792372789!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" allowfullscreen></iframe></p> -->
            <div class="text-center">
                <iframe width="600" height="170" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1468.2267483048206!2d23.030382567691834!3d42.60933726774235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac6980efa97%3A0xbc23d4e3b86a247b!2z0J7QsdGJ0LjQvdCwINCf0LXRgNC90LjQug!5e0!3m2!1sbg!2sbg!4v1650792372789!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</div>