@{
    ViewData["Title"] = "About Us Page";
}

<head>
    <meta charset="UTF-8">
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .jumbotron {
            background-color: #f4511e;
            color: #fff;
            padding: 100px 25px;
        }

        .container-fluid {
            padding: 60px 50px;
            border-width: 1px;
            border-color: gray;
            border-style: solid;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .logo {
            font-size: 200px;
        }

        media screen and (max-width: 768px) {
            .col-sm-4

        {
            text-align: center;
            margin: 25px 0;
        }

        }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>За нас</h2>
                <h4>Какво е важно да знаете за нашата компания..</h4>
                <p>
                    Фирмата е регистрирана през 2022г. с основен предмет на дейност- осъществяване на таксиметрови услуги.

                    "Express Taxi" разполага със собствена, специализирана за дейността база с модерен диспечерски център, работи изключително с нови автомобили и се стреми да създаде удобно и безопасно пътуване на своите клиенти.

                    В годината на своето откриване "Експрес Такси" стана и първата фирма за таксиметрови услуги в България, която въведе автоматизирана диспечерска система базираща се на "GPS". Чрез тази система получените поръчки намират най-близкия свободен автомобил и движението му се наблюдава и записва в диспечерския център. Също така за първи път на българския пазар беше предоставена възможността клиентите да поръчват такси онлайн. По този начин се гарантира възможно най-бързото обслужване на клиентите и се затвърждават лидерските позиции на фирмата на този пазар. Макар и още нова в този бранш, фирмата за кратко време се превърна в предпочитана като партньор от известни хотели и фирми.

                </p>
                <a class="navbar-dark" asp-controller="Home" asp-action="Index"><button class="btn btn-danger">Върни ме в началната страница</button></a>
            </div>
            <div class="col-sm-4">
                <img width="350" height="300" src="https://play-lh.googleusercontent.com/NVmNVeortHJrOTuDyTgyHBIsH4tKIT1FTZYiYee6RrawYrP4fAtXjet1ETwytBD7yTdT" alt="alternatetext">
            </div>
        </div>
    </div>
</body>